<div *ngIf="descansos$ | async as descansos" >
	<div *ngIf="descansos.length == 0">
		No se sincronizó el sueño hoy
	</div>
	<div *ngIf="descansos.length > 0">
		<h5 class="titulo-descanso">
      <span>
        <mat-form-field style="margin-top: -22px;">
        <input matInput [matDatepicker]="fecha" placeholder="Selecciona una fecha" [value]="fecha_descanso" (dateChange)="descansoPorFecha($event.value)">
        <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
        <mat-datepicker #fecha></mat-datepicker>
      </mat-form-field></span>
			<span><b>Eficiencia</b> {{descansos[0].efficiency }} </span>
			<span><b>Duración</b> {{duracion }}	</span>
		</h5>
    <div id="chart" class="grafico-descanso">
      <svg></svg>
    </div>
	</div>
</div>
