<div *ngIf="entrenamientos$ | async as entrenamientos">
  <h5>Actividades de tipo <b>Entrenamiento ({{entrenamientos.length}})</b>
    <button mat-raised-button color="primary" class="pull-right" (click)="verDetalle()">Ver Detalle ({{seleccionados.length}})</button>
  </h5>
  <table mat-table [dataSource]="entrenamientos" class="mat-elevation-z2 tabla-actividades">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="seleccionar(row)"
                      [checked]="row.seleccionada">
        </mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef> Promedios </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="duracion">
      <th mat-header-cell *matHeaderCellDef> Duración </th>
      <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
      <td mat-footer-cell *matFooterCellDef> {{duracion_promedio}} </td>
    </ng-container>
    <ng-container matColumnDef="calorias">
      <th mat-header-cell *matHeaderCellDef> Calorías </th>
      <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
      <td mat-footer-cell *matFooterCellDef> {{calorias_promedio}} </td>
    </ng-container>

    <ng-container matColumnDef="ritmoPromedio">
        <th mat-header-cell *matHeaderCellDef> Rítmo promedio </th>
        <td mat-cell *matCellDef="let element"> {{element.averageHeartRate}} </td>
        <td mat-footer-cell *matFooterCellDef> {{ritmo_promedio}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let element; columns: columnas"></tr>
    <tr mat-footer-row *matFooterRowDef="footerColumns"></tr>
  </table>
</div>
<div *ngIf="entrenamiento" class="detalle-entrenamiento">
  <h5 class="titulo-entrenamiento">
    <span><b>Fecha</b> {{entrenamiento.fecha }}</span>
    <span><b>Promedio</b> {{ entrenamiento.averageHeartRate }} </span>
    <span><b>Duración</b> {{ entrenamiento.duracion }}	</span>
  </h5>
  <canvas baseChart width="500" height="250"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
<div *ngIf="entrenamientos" class="detalle-entrenamiento">
  <h5 class="titulo-entrenamiento" *ngFor="let entrenamiento of entrenamientos">
    <span><b>Fecha</b> {{entrenamiento.fecha }}</span>
    <span><b>Promedio</b> {{ entrenamiento.averageHeartRate }} </span>
    <span><b>Duración</b> {{ entrenamiento.duracion }}	</span>
  </h5>
  <canvas baseChart width="500" height="250"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
<div *ngIf="yogas$ | async as yogas">
  <h5>Actividades de tipo <b>Yoga ({{yogas.length}})</b>
    <!-- <button mat-raised-button color="primary" class="pull-right" (click)="verDetalle()">Ver Detalle ({{seleccionados.length}})</button> -->
  </h5>
  <table mat-table [dataSource]="yogas" class="mat-elevation-z2 tabla-actividades">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="seleccionar(row)"
                      [checked]="row.seleccionada">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>
    <ng-container matColumnDef="duracion">
      <th mat-header-cell *matHeaderCellDef> Duración </th>
      <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
    </ng-container>
    <ng-container matColumnDef="calorias">
      <th mat-header-cell *matHeaderCellDef> Calorías </th>
      <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
    </ng-container>

    <ng-container matColumnDef="ritmoPromedio">
        <th mat-header-cell *matHeaderCellDef> Rítmo promedio </th>
        <td mat-cell *matCellDef="let element"> {{element.averageHeartRate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>

    <tr mat-row *matRowDef="let element; columns: columnas"></tr>

  </table>
</div>
