.tabla-actividades{
  width: 100%;
}
.elemento-detalle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

tr.fila-detalle {
  height: 0;
}

.fila td {
  border-bottom-width: 0;
  cursor: pointer;
}
.datos-expandidos {
  height: 50px;
}
.detalle-btn {
  margin-bottom: 10px;
}
.titulo-entrenamiento {
  display: flex;
  justify-content: space-between;
}
.detalle-entrenamiento {
  width: 100%;
  height: 400px;
}

.grafico-actividad {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}