<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
  <img src="assets/images/background/user-info.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
  <button mat-menu-item>
    <mat-icon class="mdi mdi-settings"></mat-icon> Settings </button>
  <button mat-menu-item>
    <mat-icon class="mdi mdi-account-box"></mat-icon> Profile </button>
  <button mat-menu-item>
    <mat-icon class="mdi mdi-bell-off"></mat-icon> Disable notifications </button>
  <button mat-menu-item>
    <mat-icon class="mdi mdi-exit-to-app"></mat-icon> Sign Out </button>
</mat-menu>
