<div class="home-container">
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon class="mdi mdi-sync"></mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="autorizar()">Autorizar</button>
		<button mat-menu-item (click)="actualizarSueno()">Actualizar Sueño</button>
		<button mat-menu-item (click)="actualizarActividades()">Actualizar Actividades</button>
		<button mat-menu-item (click)="actualizarRitmoCardiaco()">Actualizar Ritmo Cardíaco</button>
	  </mat-menu>
</div>