/* You can add global styles to this file, and also import other style files */

.dw-user-box {
  padding: 10px 15px;
}
.dw-user-box .u-img {
  width: 70px;
  display: inline-block;
  vertical-align: top;
}
.dw-user-box .u-img img {
  width: 100%;
  border-radius: 5px;
}
.dw-user-box .u-text {
  display: inline-block;
  padding-left: 10px;
}
.dw-user-box .u-text h4 {
  margin: 0px;
  font-size: 15px;
}
.dw-user-box .u-text p {
  margin-bottom: 2px;
  font-size: 12px;
}
.dw-user-box .u-text .btn {
  color: #ffffff;
  padding: 5px 10px;
  display: inline-block;
}
.openFileImg {
  cursor: pointer;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.description-data {
  color: rgba(0, 0, 0, 0.54);
}
.mat-icon {
  height: auto !important;
}
mat-cell {
  cursor: pointer;
}
#snav .mat-list-item.selected .sub-item .mat-list-item-content a.selected {
  font-weight: 600 !important;
  color: #26c6da !important;
}

.breadcrumbs-list {
  margin: 0 15px 0 15px;
}
ol.breadcrumbs li,
div.breadcrumbs h4 {
  display: inline;
}
div.breadcrumbs {
  float: left;
}
.breadcrumbs .breadcrumbs-item + .breadcrumbs-item::before {
  content: '\e649';
  font-family: themify;
  color: #a6b7bf;
  font-size: 11px;
}
.no-shadow {
  box-shadow: none;
}
.custom-class a {
  color: rgb(61, 60, 60) !important;
}
.checkbox {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.checkbox-items {
  margin: 0 10px;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.example-radio-button {
  margin: 10px;
}
.pointer {
  cursor: pointer;
}
