/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

@import 'variable';

@import 'icons/simple-line-icons/css/simple-line-icons.css';
@import 'icons/weather-icons/css/weather-icons.min.css';
@import 'icons/linea-icons/linea.css';
@import 'icons/flag-icon-css/flag-icon.min.css';
@import 'icons/material-design-iconic-font/css/materialdesignicons.min.css';
@import 'icons/themify-icons/themify-icons.css';
@import 'icons/font-awesome/css/font-awesome.css';
@import 'spinner';
@import 'app';
@import 'header';
@import 'widgets';
@import 'pages';
@import 'sidebar';
@import 'dark-sidebar';
@import 'responsive';
@import 'rtl';

// Red Theme
@import 'colors/red';
.danger {
  @include angular-material-theme($red-app-theme);
}

// Blue Theme
@import 'colors/blue';
.blue {
  @include angular-material-theme($blue-app-theme);
}

// Green Theme
@import 'colors/green';
.green {
  @include angular-material-theme($green-app-theme);
}

// Dark Theme
@import 'colors/dark';
.dark {
  @include angular-material-theme($dark-theme);
}
